@tailwind base;
@tailwind components;
@tailwind utilities;

.text-dynamic-dark {
    color: #000; /* Dark text color for light background */
  }
  
  .text-dynamic-light {
    color: #fff; /* Light text color for dark background */
  }
  
  @media (prefers-color-scheme: dark) {
    .text-dynamic-dark {
      color: #fff; /* Light text color for dark background */
    }
  }
  
  @media (prefers-color-scheme: light) {
    .text-dynamic-light {
      color: #000; /* Dark text color for light background */
    }
  }